<!doctype html>
<html lang="en" ng-app="todoApp">
<head>
	<meta charset="UTF-8">
	<title>Todo</title>
	<link rel="stylesheet" type="text/css" href="../foundation/css/foundation.min.css">
	<script src="resourses/angular.min.js"></script>
	<script src="resourses/angular-local-storage.min.js"></script>
	<script src="resourses/app.js"></script>
</head>
<body>	
	<div ng-controller="todoCtlr">
		<div class="container">
			<div class="row">
				<div class="small-6 small-centered columns">
			      <label>Todo
					<input type="text" ng-model="todoTitle" placeholder="To do">
			      </label>
			    </div>
			</div>
			<div class="row">	
			    <div class="small-4 small-centered columns">
				    <div class="row">
				      <div class="small-4 columns">
					      <label>Time
							<input type="number" ng-model="todoTime" placeholder="How many minutes?">
					      </label>
				      </div>
			     	 <div class="small-4 columns">
					      <label>Alarm
							<input type="checkbox" ng-model="todoAlarm">
					      </label>
				      </div>
				    </div>
				    	<div class="small-4 columns">
							<input type="button" ng-click="send()" value="Add" class="button">
				      </div>
				    </div>
			    </div>
			</div>
			<div class="row">	
				<div class="small-6 small-centered columns">
					<table class="large-12 small-12">
						<thead>
							<tr>
								<th>ToDo</th>
								<th>Time</th>
								<th>Done</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat = "todo in todos">
								<td>{{ todo['title'] }}</td>
								<td align="center">{{ todo['currTime'] }}</td>
								<td align="center"><input type="checkbox" ng-model="todoObj[$index]"  ng-change="invoke($index)" ng-checked="todo['active']"></td>
								<td align="center"><a href="#" ng-click="removeTodo($index)">&times;</a></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="3">{{ countTodo }} item(s)</td>
								<td><a href="#" ng-click="clear()">clear all</a></td>
							</tr>
						</tfoot>
					</table>
				</div>	
			</div>
		</div>
	</div>
	<span id="dummy"></span>
</body>
</html>